{% extends "base.html" %}
{% load static %}

{% block title %}Create Event{% endblock %}
{% block events_active %}class="active"{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery.ui.all.css' %}" media="screen" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/create_event.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Create Event</h1>
<p>Have you done something recently worth tracking? Add it here.</p>
<form role="form" class="form" method="post" action="{% url 'event_create' %}">
    {% csrf_token %}
    {{ form.as_ul }}
    <p><input type="submit" class="btn btn-primary" value="Create" /></p>
</form>
{% endblock %}
